[Desktop Entry]
Name=ShelbyFirewall 🧱
Comment=Firewall Controller by Mr. Shelby
Exec=pkexec bash -c "python3 /home/user/Desktop/ShelbyFirewall/shelbyfirewall_gui.py"
Terminal=false
Type=Application
Categories=Utility;
